<html>
    <head>
        <title>schmoopy.website</title>

        <!-- TODO: use a sub-template for these includes. -->
        <link href="/static/css/main.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </head>
    <body>
        {{range .schmoopys}}
        <div class="schmoopy">
            <a href="/{{.Name}}">
                <img src="{{.RandomImageUrl}}"/>
            </a>
            <div class="overlay">
                {{.Name}}
            </div>
        </div>
        {{else}}
            No Schmoopys?! Go to /&lt;something&gt; to create one.
        {{end}}
    </body>
</html>
